@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-foreground: #334155;
  --color-primary: #3b82f6;
  --color-primary-light: #60a5fa;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}
